:root {
  --skyblue: skyblue;
}

/* Utility Classes */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.full-height {
  height: 100vh;
}

.myName h2 {
  background-color: skyblue;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: bold;
  display: block;
  display: flex;
  align-items: center;

}

.navBar a:visited {
  cursor: grab;
  color: aquamarine;
}


.navBar {
  display: flex;
  justify-content: space-between;
  background: rgb(77, 75, 75);
  width: 100%;
  height: 75px;
}


.navBar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 3%;


}

.navBar li {
  margin: 15px;

}

.navBar a:hover {
  text-decoration: none;
  color: var(--skyblue);
  cursor: pointer;

}

.navBar a:active {
  color: white;
}



.sectionImg {
  width: 100%;
  height: 170px;
  background-color: rgb(13, 13, 13);
  background: linear-gradient(90deg, rgba(13, 13, 13, 1) 0%, rgba(143, 143, 150, 1) 36%, rgba(129, 129, 129, 1) 84%, rgba(0, 120, 280, 1) 100%);


}

.subtitle h2 {

  background-color: rgb(0, 195, 255);
  float: right;
  padding: 5px 0px;
  margin-top: 100px;
  margin-right: 3.5rem;
}

.about {
  margin-top: 3%;
}


/* .aboutMe {
  display: flex;
  position: absolute;
  width: 10%;
  text-align: right;
  padding-left: 20px; 
} */

/* section p {
   display: flex;
  position: absolute;
  left: 25%;
  right: 5%; 
} */

.lv {
  border-left: 5px solid black;
  height: 95px;
  left: 22%;
  margin-top: 10px;
  position: absolute;
}

.lvl {
  border-left: 5px solid black;
  height: 780px;
  position: absolute;
  left: 22%;
  margin-top: 20.5%;

}

.workTitle {
  display: flex;
  margin-top: 20%;
  position: absolute;
  padding: 20px;
}

.main-card {
  margin: 10px;
  border: solid 5px var(--skyblue);
}

#main-card1 {
  height: 400px;
  width: fit-content;
}

.cardText {
  position: absolute;
  background-color: var(--skyblue);
  margin-top: -50px;
  margin-left: 15px;
  padding: 5px;
}

.card {
  height: 150px;
  width: 483px;
  margin: 10px;
  border: solid 5px var(--skyblue);
}

/* .cards {
  position: absolute;
  margin-left: 25%;
   margin-top: 20%; 
} */

.cardText3 {
  position: absolute;
  background-color: var(--skyblue);
  margin-top: -70px;
  margin-left: 37%;
  padding: 5px;
}

/* .socials {
  position: absolute; 
  margin-top: 75%;
  font-size: 20px;
  left: 20%; 
} */

#contact {
  font-size: 1.6rem;
  margin-left: 20px;
}

.contact {
  display: flex;
  position: absolute;
  margin-top: 72%;
  text-align: right;
  width: 10%;
}

.lol {
  border-left: 5px solid black;
  left: 22%;
  position: absolute;
  height: 100px;
  margin-top: 72%;
}

.links {
  display: inline;
  border-bottom: 3px solid black;
}

.socials ul {
  margin-top: -25px;
}

@media screen and (max-width:1452px) {
  .navBar {
    background-color: aqua;
  }

  .card {
    display: flex;

  }

  .cardText {
    display: flex;
  }

  .main-card {
    flex-direction: column;
  }

  .cardText3 {
    position: absolute;
  }
}

@media screen and (max-width:60em) {
  .navBar {
    background-color: yellow;
  }

  .contact {
    position: absolute;
  }
}

@media screen and (max-width:54.5em) {
  .navBar {
    background-color: green;
  }
}

@media screen and (max-width:46.8em) {
  .navBar {
    background-color: orange;
    flex-direction: column;
  }

  .portfolio-section {
    flex-direction: column;
  }

  .portfolio-title-section {
    border: none !important;
    max-width: 100% !important;
  }

  .footer-list {
    flex-direction: column;
    text-align: center;
  }

  .black-border {
    border-left: 0px !important;
  }
}

.image-border {
  border: 4px solid var(--skyblue)
}

.smaller-image {
  height: 100%;
  width: auto;
  /* width: 100%; */
}

.smaller-image-container {
  flex: 1 1 45%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.portfolio-section {
  display: flex;
  align-items: center;
  margin-bottom: 16px
}

.portfolio-title-section {
  flex: 1;
  max-width: 20%;
  margin-right: 16px
}

.footer-list {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.image-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  /* gap: 8px; */
}

.black-border {
  border-left: 4px solid black;
  padding-left: 16px
}
